<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".jkey" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
  </compilation>
  </system.web>
	<system.webServer>
		<!--
        <rewrite>
            <outboundRules>
                <rule name="inline/attachment" preCondition="Content-Disposition">
                    <match serverVariable="RESPONSE_Content-Disposition" pattern="inline" />
                    <action type="Rewrite" value="attachment; filename=pippo.txt" />
                </rule>
                <preConditions>
                    <preCondition name="Content-Disposition">
                        <add input="{RESPONSE_Content-Disposition}" pattern="inline" />
                    </preCondition>
                </preConditions>
            </outboundRules>
    </rewrite>
    -->
        <handlers  accessPolicy="Read, Script">
            <remove name="LiveStreamingHandler" />
            <remove name="SmoothHandler" />
            <remove name="PippoSmoothHandler" />

            <add name="XNPageHandlerFactory-Integrated-asx" path="*.jkey" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
            <add name="YNPageHandlerFactory-ISAPI-4.0-asx" path="*.jkey" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="UNPageHandlerFactory-ISAPI-4.0-64-asx" path="*.jkey" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        </handlers>
        <!--
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".json" allowed="true" />
                </fileExtensions>
                <verbs>
                    <add verb="POST" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        -->

            
        
        <staticContent>
		<remove fileExtension=".m4f" />
		<remove fileExtension=".m4v" />
		<remove fileExtension=".mp4v" />
		<remove fileExtension=".m4a" />
		<remove fileExtension=".ts" />
		<remove fileExtension=".m3u8" />
		<remove fileExtension=".json" />
		<remove fileExtension=".key" />
		<remove fileExtension=".mpd" />
		
			<mimeMap fileExtension=".mpd" mimeType="application/dash+xml" />
            		<mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
			<mimeMap fileExtension=".m4v" mimeType="video/mp4" />
			<mimeMap fileExtension=".mp4v" mimeType="video/mp4" />
			
			<mimeMap fileExtension=".ism" mimeType="application/vnd.ms-sstr+xml" />
			<mimeMap fileExtension=".ts" mimeType="video/mp2t" />
			<mimeMap fileExtension=".m3u8" mimeType="application/vnd.apple.mpegurl" />
			<mimeMap fileExtension=".json" mimeType="application/javascript" />
            <mimeMap fileExtension=".jkey" mimeType="application/javascript" />
            <mimeMap fileExtension=".key" mimeType="application/octet-stream" />
			
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Cache-Control" value="max-age=120000" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
